*.o
*~
analyse
analyse_mat
capacity
channel_hist
channel_matrix
drop_samples
extract_plot
filter_samples
guess
mult
row_average
sample_error
smooth
speed_sparse
stride
summarise
test_hist
test_sparse
